
nav.navbar-default{
  background-image:none;
  background-color:#363763;
  border:0;
}
nav .navbar-form { display: inline-block; }
nav .navbar-right a, nav .navbar-right a:hover {
  color: #fff;
}
nav .address { cursor:help; }
nav .navbar-default .navbar-brand { text-shadow:none;}
nav .navbar-brand {padding-top:30px;}
nav.logged-out .navbar-brand {padding-top:10px;}
nav .navbar-brand small {     
  display: block;
  color: #ddd;
  margin-top: -5px;
  font-size:66%;
}
nav .tooltip-inner {max-width:340px;}
nav .profile-link {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 10px 0 10px;
  margin: 0px 15px 0 5px;
}
nav .profile-link .username{
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
nav .sk-spinner.pacman{
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0 10px 30px;
}
nav .navbar-text a {
  text-decoration:underline;
}
nav .navbar-text a:hover, nav .navbar-text a:focus {
  text-decoration:none;
}
.tweets .tweet .list-group-item-text {
  white-space: pre-line;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: rgba(221, 221, 221, 0.4);
}