
nav.navbar-default{
  background-image:none;
  background-color:#363763;
  border:0;
}
nav .navbar-form { display: inline-block; }
nav .navbar-right a, nav .navbar-right a:hover {
  color: #fff;
}
nav .address { cursor:help; }
nav .navbar-default .navbar-brand { text-shadow:none;}
nav .navbar-brand {padding-top:30px;}
nav.logged-out .navbar-brand {padding-top:10px;}
nav .navbar-brand small {     
  display: block;
  color: #ddd;
  margin-top: -5px;
  font-size:66%;
}
nav .tooltip-inner {max-width:340px;}
nav .profile-link {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 10px 0 10px;
  margin: 0px 15px 0 5px;
}
nav .profile-link .username{
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.tweets .tweet .list-group-item-text {
  white-space: pre-line;
}
.logs {
  background-color: black;
  font-size: 14px;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin: 0px;
}

.nav-tabs {
  margin-bottom: 0;
}

.status-offline {
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 4px;
  width: 12px;
  height: 12px;
  background: red;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.status-online {
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 4px;
  width: 12px;
  height: 12px;
  background: mediumseagreen;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

input.form-control {
  margin-right: 5px;
}