
#profile img {
  max-width: 150px;
}

#edit-profile, #edit-profile-photo {
  padding-top: 10px;
  margin-top: 10px;
}

#edit-profile input, #edit-profile-photo input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.createProfileView {
  display: none;
}

.editLink {
  margin-top: 5px;
  display: block;
}

#edit-profile-info {
  display: none;
}

#tweets {
  padding-top: 20px;
}

.main {
  padding-top: 80px;
}

.navbar {
  margin: 5px;
}

.editLink {
  color: blue;
  cursor: hand;
}
